[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
tqdm = "*"

[packages]
flask = "*"
flask-restful = "*"
firebase-admin = "*"
requests = "*"
beautifulsoup4 = "*"
lxml = "*"
torchtext = "*"
torch = "*"
torchvision = "*"
janome = "*"
numpy = "*"
pandas = "*"
transformers = "*"
mecab-python3 = "*"

[requires]
python_version = "3.7"
